body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Стили для формы */
form {
    width: 350px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Стили для полей ввода */
input[type="text"],
input[type="password"],
input[type="email"],
button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 18px;
}

/* Стили для кнопки отправки формы */
button[type="submit"] {
    background-color: #3F3F3F;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button[type="submit"]:hover {
    background-color: #000;
}
/* Стили для заголовка */
h2 {
    text-align: center;
}


.errorlist {
    color: red;
    padding-left: 19px;
    height: 18px;
}