<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Смена пароля</title>
    <!-- Подключение стилей или скриптов, если необходимо -->
    <link rel="stylesheet" href="{% static 'regestration/css/password_change.css' %}">
</head>
<body>
    <div class="container">
        <h2>Смена пароля</h2>
        {% if messages %}
            <ul class="messages">
            {% for message in messages %}
                <li class="error">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <input type="password"  name="old_password" placeholder="Старый пароль" required>
            <input type="password"  name="new_password1" placeholder="Новый пароль" required>
            <input type="password"  name="new_password2" placeholder="Повторите новый пароль" required>
            <button type="submit">Изменить пароль</button>
        </form>
    </div>
</body>
</html>