<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Смена пароля</title>
    <!-- Подключение стилей или скриптов, если необходимо -->
    <link rel="stylesheet" href="{% static 'regestration/css/password_change.css' %}">
</head>
<body>
    <div class="container">
        <h2>Смена пароля</h2>
        <form method="post">
            {% csrf_token %}
            <input type="password"  name="old_password" placeholder="Старый пароль">
            <input type="password"  name="new_password1" placeholder="Новый пароль">
            <input type="password"  name="new_password2" placeholder="Повторите новый пароль">
            <button type="submit">Изменить пароль</button>
        </form>
    </div>
</body>
</html>