<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Смена пароля</title>
    <!-- Подключение стилей или скриптов, если необходимо -->
    <link rel="stylesheet" href="{% static 'regestration/css/password_change.css' %}">
</head>
<body>
    <div class="container">
        <h2>Смена пароля</h2>
        <form method="post">
            {% csrf_token %}
            <label for="id_old_password">Старый пароль:</label>
            <input type="password" name="old_password" id="id_old_password">

            <label for="id_new_password1">Новый пароль:</label>
            <input type="password" name="new_password1" id="id_new_password1">

            <label for="id_new_password2">Повторите новый пароль:</label>
            <input type="password" name="new_password2" id="id_new_password2">

            <button type="submit">Изменить пароль</button>
        </form>
    </div>
</body>
</html>