{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>О социальной инженерии</title>
    <link rel="stylesheet" href="{% static 'courses/css/mosheniki/coshial_ingeering.css' %}" />
  </head>

  <body>
    <div class="div">
      <div class="bg-parent">
        <div class="bg">
          <div class="bg-child"></div>
        </div>
        <div class="div1">
          <div class="child"></div>
          <div class="item"></div>
        </div>
        <div class="div2">ШКОЛА БЕЗОПАСНОСТИ</div>
        <div class="div3">ШКОЛА БЕЗОПАСНОСТИ</div>
        <div class="div4">
          <div class="div5">Теория</div>
        </div>
        <button class="button">
          <a href="{% url 'profile' %}">
          <div class="inner"></div>
          <div class="louze324gmailcom">{{user.username}}</div>
          </a>
        </button>
        <b class="b">Социальная инженерия</b>
        <div class="div6">
          <span class="span">Социальная инженерия</span>
          <span class="span1">
            — это метод манипуляции и обмана людей с целью получения
            конфиденциальной информации, доступа к защищенным системам или
            выполнения определенных действий.</span
          >
        </div>
        <div class="div7">
          <p class="blank-line">&nbsp;</p>
          <p class="blank-line">&nbsp;</p>
          <p class="blank-line">
            <span class="span2">Она представляет</span>
            <span>
              из себя методику психологических приемов и креативности, чтобы
              убедить целевого человека совершить нежелательные действия или
              предоставить конфиденциальную информацию.</span
            >
          </p>
          <p class="blank-line">&nbsp;</p>
        </div>
        <div class="div8">
          <p class="blank-line">&nbsp;</p>
          <p class="blank-line">
            <span class="span2">Социальная инженерия</span>
            <span>
              может применяться как в реальной жизни, так и в сети Интернет, и
              часто используется для осуществления кибератак, взлома систем,
              кражи личных данных и других мошеннических действий.</span
            >
          </p>
        </div>
        <div class="div9">Примеры:</div>
        <div class="div10">
          <ul class="ul">
            <li>Звонок из “службы безопасности банка”</li>
          </ul>
        </div>
        <div class="div11">
          <ul class="ul">
            <li>Звонок из “правоохранительных органов”</li>
          </ul>
        </div>
        <div class="div12">
          <ul class="ul">
            <li>
              Звонок от “родственника” с просьбой перевести денежные средства
            </li>
          </ul>
        </div>
        <div class="frame-child"></div>
        <div class="div13">Будьте бдительны!</div>
        <div class="div14">
          проверяйте подлинность таких звонков и уточняйте информацию используя
          оффициальные контакты
        </div>
      </div>
    </div>
  </body>
</html>



