{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>О Финансовые пирамиды</title>
    <link rel="stylesheet" href="{% static 'courses/css/mosheniki/financial_pyramid.css' %}" />
  </head>

  <body>
    <div class="div">
      <div class="bg-parent">
        <div class="bg">
          <div class="bg-child"></div>
        </div>
        <div class="div1">
          <div class="child"></div>
          <div class="item"></div>
        </div>
        <a href="{% url 'home' %}">
        <div class="div2">ШКОЛА БЕЗОПАСНОСТИ</div>
        <div class="div3">ШКОЛА БЕЗОПАСНОСТИ</div>
        </a>
        <style>a{color:inherit; text-decoration: none;}</style>
        <div class="div4">
          <div class="div5">ТЕОРИЯ</div>
        </div>
        <button class="button">
          <a href="{% url 'profile' %}">
          <div class="inner"></div>
          <div class="louze324gmailcom">{{user.username}}</div>
          </a>
        </button>
        <b class="b">Финансовые пирамиды</b>
        <div class="div6">
          <span class="span">
            <b class="b1">Они приглашают</b>
            <span>
              своих знакомых, родственников и знакомых своих знакомых
              присоединиться к схеме, обещая им значительную прибыль от
              вложений.</span
            >
          </span>
        </div>
        <div class="div7">
          <span class="span">
            <b class="b1">Финансовые пирамиды</b>
            <span>
              представляют собой вид мошенничества, в котором участники
              вкладывают деньги в организацию или программу, обещающую высокие
              доходы или прибыль в кратчайшие сроки.</span
            >
          </span>
        </div>
        <div class="div8">
          <p class="p">
            <span class="span">
              <b class="b1">Однако основной </b>
              <span
                >источник дохода в таких схемах обычно не связан с реальными
                инвестициями или продажами товаров или услуг, а является простым
                перераспределением денег от новых участников к старым
                участникам.</span
              >
            </span>
          </p>
          <p class="p">
            <span class="span">
              <span
                >Таким образом, прибыль участников зависит от привлечения новых
                участников, и когда поток новых участников иссякает, пирамида
                рушится, оставляя большинство участников без прибыли и
                потерянными вложениями.</span
              >
            </span>
          </p>
        </div>
        <div class="div9">
          <p class="p">
            <span class="span">
              <b class="b1">Финансовые пирамиды </b>
              <span
                >являются незаконными в большинстве стран, так как они нарушают
                принципы финансовой устойчивости, оскорбляют доверие людей и
                причиняют им финансовый ущерб.</span
              >
            </span>
          </p>
          <p class="p">
            <span class="span">
              <span
                >Участие в пирамидальных схемах может привести к денежным
                потерям и юридическим проблемам.</span
              >
            </span>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>