{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>О фишиге</title>
    <link rel="stylesheet" href="{% static 'courses/css/mosheniki/phishing.css' %}" />
  </head>

  <body>
    <div class="div">
      <div class="bg-parent">
        <div class="bg">
          <div class="bg-child"></div>
        </div>
        <div class="div1">
          <div class="child"></div>
          <div class="item"></div>
        </div>
        <div class="div2">ШКОЛА БЕЗОПАСНОСТИ</div>
        <div class="div3">ШКОЛА БЕЗОПАСНОСТИ</div>
        <div class="div4">
          <div class="div5">Теория</div>
        </div>
        <button class="button">
          <div class="inner"></div>
          <div class="louze324gmailcom">Louze324@gmail.com</div>
        </button>
        <b class="b">Фишинг</b>
        <div class="div6">
          <span>Это мошенническая практика,</span>
          <span class="span">
            при которой злоумышленники с помощью электронных писем, сообщений
            или веб-страниц пытаются выманить персональные данные (пароли,
            номера банковских карт, социальные номера и т.д.) у пользователей,
            выдавая себя за легитимные организации или людей.
            </span>
        </div>
        <b class="b1">
          <span>Чтобы защититься от фишинга,</span>
          <span class="span"> рекомендуется следующее:</span>
        </b>
        <div class="div7">
          <p class="p">
            <span class="span2">1. Будьте внимательны</span>
            <span>
              <span class="span3"> </span>
              <span>при проверке электронных писем или сообщений.</span>
            </span>
          </p>
          <p class="p">
            <span>
              <span
                >Обратите внимание на грамматические ошибки, неправильные адреса
                электронной почты или неожиданные запросы на предоставление
                личных данных.</span
              >
            </span>
          </p>
          <p class="p">
            <span>
              <span
                >Если что-то кажется подозрительным, лучше не открывайте
                вложения или не переходите по ссылкам.</span
              >
            </span>
          </p>
        </div>
        <div class="div8">
          <p class="p">
            <span class="span4">
              <span class="span5">2. Не предоставляйте</span>
            </span>
            <span>
              <span class="span4"> </span>
              <span
                >свои личные данные на непроверенных или незащищенных
                сайтах.</span
              >
            </span>
          </p>
          <p class="p">
            <span>
              <span
                >Убедитесь, что сайт, на котором вы вводите свои данные, имеет
                защищенное соединение (значок замка в адресной строке).</span
              >
            </span>
          </p>
        </div>
        <div class="div9">
          <p class="p">
            <span class="span2">3. Обратите внимание </span>
            <span>на проверку имени домена веб-сайта. </span>
          </p>
          <p class="p">
            Злоумышленники могут создать похожий домен с незначительными
            различиями (например, заменой одной буквы), чтобы сбить с толку
            пользователей.
          </p>
        </div>
        <div class="div10">
          <p class="p">
            <span class="span2">4. Обратите внимание </span>
            <span>на проверку имени домена веб-сайта.</span>
          </p>
          <p class="p">
            Злоумышленники могут создать похожий домен с незначительными
            различиями (например, заменой одной буквы), чтобы сбить с толку
            пользователей.
          </p>
        </div>
        <div class="div11">
          <span class="span9">
            <span>Общее правило:</span>
          </span>
          <span class="span">
            <span class="span9"> </span>
            <span
              >если что-то кажется подозрительным или сомнительным, лучше быть
              осторожным и не предоставлять личные данные или совершать
              определенные действия, пока не будете уверены в подлинности
              запроса или веб-сайта.</span
            >
          </span>
        </div>
      </div>
    </div>
  </body>
</html>
