body {
  margin: 0%;
}
.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

.main-container {
  position: relative;
  width: 1920px;
  height: 800px;
}
.frame {
  position: absolute;
  width: 1920px;
  height: 816px;
  margin-top: 0;
  top: 0;
  left: 0;
  background: #ffffff;
  overflow: hidden;
}
.bg {
  position: absolute;
  width: 1597px;
  height: 998px;
  top: -87.999px;
  left: -38px;
  z-index: 1;
}

.rectangle-1 {
  position: absolute;
  width: 100%;
  height: 93px;
  left: 0;
  background: #ffc800;
  z-index: 3;
}
.lichnyi-kabinet {
  position: absolute;
  width: 66px;
  height: 23px;
  top: 31px;
  left: 927px;
  z-index: 5;
}
.kurs {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 23px;
  top: 0;
  left: 0;
  font-family: Asket Extended, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #3f3f3f;
  font-size: 24px;
  font-weight: 500;
  line-height: 23px;
  text-align: left;
  white-space: nowrap;
  z-index: 6;
}
.pochta {
  position: absolute;
  width: 315px;
  height: 33px;
  top: 31px;
  left: 1505px;
  font-size: 0px;
  z-index: 7;
  border-radius: 13px;
}

.pochta a{
  text-decoration: none;
}
.louze-gmail-com {
  display: block;
  position: relative;
  height: 26px;
  margin: 0 0 0 9px;
  font-family: Asket Extended, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #3f3f3f;
  font-size: 26px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  white-space: nowrap;
  z-index: 9;
}
.rectangle-2 {
  position: absolute;
  width: 315px;
  height: 33px;
  top: 0;
  left: 0;
  background: #ffffff;
  z-index: 8;
  border-radius: 13px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.school-safety {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 38px;
  top: 34px;
  left: 98px;
  font-family: Asket Extended, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #3f3f3f;
  font-size: 24px;
  font-weight: 500;
  line-height: 36.288px;
  text-align: left;
  white-space: nowrap;
  z-index: 4;
}
.rectangle-3 {
  position: absolute;
  width: 840px;
  height: 547px;
  top: 172px;
  left: 100px;
  background: #3f3f3f;
  z-index: 10;
  border-radius: 13px;
}
.rectangle-4 {
  position: absolute;
  width: 840px;
  height: 547px;
  top: 172px;
  left: 980px;
  background: #3f3f3f;
  z-index: 11;
  border-radius: 13px;
}
.theory-5 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 840px;
  height: 99px;
  top: 229px;
  left: 100px;
  font-family: Asket Extended, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 64px;
  font-weight: 700;
  line-height: 99px;
  text-align: center;
  white-space: nowrap;
  z-index: 12;
}
.test-game {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 840px;
  height: 77px;
  top: 240px;
  left: 980px;
  font-family: Asket Extended, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 64px;
  font-weight: 700;
  line-height: 77px;
  text-align: center;
  white-space: nowrap;
  z-index: 22;
}
.rectangle-6 {
  position: absolute;
  width: 563px;
  height: 65px;
  top: 367px;
  left: 238px;
  background: #b964ff;
  z-index: 13;
  border-radius: 13px;
}
.span-privacy-data {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 551px;
  height: 50px;
  top: 375px;
  left: 244px;
  font-family: Asket Extended, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  line-height: 49.536px;
  text-align: center;
  white-space: nowrap;
  z-index: 14;
}
.span-test-certificate {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 593px;
  height: 47px;
  top: 376px;
  left: 1103px;
  font-family: Asket Extended, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 32px;
  font-weight: 400;
  line-height: 47px;
  text-align: center;
  white-space: nowrap;
  z-index: 23;
}
.rectangle-7 {
  position: absolute;
  width: 563px;
  height: 65px;
  top: 484px;
  left: 238px;
  background: #b964ff;
  z-index: 15;
  border-radius: 13px;
}
.span-fraud-types {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 551px;
  height: 50px;
  top: 496px;
  left: 244px;
  font-family: Asket Extended, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  line-height: 49.536px;
  text-align: center;
  white-space: nowrap;
  z-index: 16;
}
.group {
  position: absolute;
  width: 563px;
  height: 110px;
  top: 549px;
  left: 1118px;
  font-size: 0px;
  z-index: 17;
  border-radius: 13px;
}

.group a{
  text-decoration: none;
}
.start {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 563px;
  height: 73px;
  margin: 18px 0 0 0;
  font-family: Asket Extended, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 48px;
  font-weight: 500;
  line-height: 72.576px;
  text-align: center;
  white-space: nowrap;
  z-index: 19;
}
.rectangle-8 {
  position: absolute;
  width: 563px;
  height: 110px;
  top: 0;
  left: 0;
  background: #b964ff;
  z-index: 18;
  border-radius: 13px;
}
.rectangle-9 {
  position: absolute;
  width: 563px;
  height: 65px;
  top: 601px;
  left: 238px;
  background: #b964ff;
  z-index: 20;
  border-radius: 13px;
}
.need-help {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 563px;
  height: 50px;
  top: 609px;
  left: 238px;
  font-family: Asket Extended, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  line-height: 49.536px;
  text-align: center;
  white-space: nowrap;
  z-index: 21;
}
