body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-asket-extended: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
    /* font sizes */
    --font-size-45xl: 64px;
    --font-size-37xl: 56px;
    --font-size-5xl: 24px;
  
    /* Colors */
    --color-white: #fff;
    --color-deepskyblue: #20a6df;
    --color-darkorchid: #b964ff;
    --color-darkslategray: #3f3f3f;
  
    /* Border radiuses */
    --br-smi: 13px;
  }
  


.bg,
.bg-child {
  position: absolute;
  width: 1597px;
  height: 998px;
}
.bg-child {
  top: 0;
  left: 0;
  background-color: var(--color-white);
}
.bg {
  top: -88px;
  left: -38px;
}
.child {
  top: 0;
  background-color: var(--color-darkorchid);
  height: 93px;
}
.child,
.div,
.item,
.shield-1-icon {
  position: absolute;
  left: 0;
  width: 1920px;
}
.item {
  top: 2306px;
  background-color: var(--color-darkorchid);
  height: 93px;
}
.div,
.shield-1-icon {
  top: 1px;
  height: 2399px;
}
.shield-1-icon {
  top: 209px;
  left: 1126px;
  width: 758px;
  height: 758px;
  object-fit: cover;
}
.div1,
.div2 {
  position: absolute;
  top: 2342px;
  left: 97px;
  font-weight: 500;
  display: inline-block;
  width: 366px;
  height: 24px;
}
.div2 {
  top: 34px;
  left: 98px;
  height: 38px;
}
.div3,
.div4,
.inner {
  position: absolute;
  width: 101px;
  height: 23px;
}
.div4 {
  top: 0;
  left: 0;
  font-weight: 500;
  display: inline-block;
}
.div3,
.inner {
  top: 34px;
  left: 920px;
}
.inner {
  top: 0;
  left: 0;
  border-radius: var(--br-smi);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 315px;
  height: 33px;
}
.louze324gmailcom {
  position: absolute;
  top: 0;
  left: 9px;
  font-size: 26px;
  font-family: var(--font-asket-extended);
  color: var(--color-darkslategray);
  text-align: center;
  display: inline-block;
  width: 302px;
  height: 26px;
}
.b,
.button {
  position: absolute;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 31px;
  left: 1505px;
  width: 315px;
  height: 33px;
}
.b {
  top: 183px;
  left: 98px;
  font-size: var(--font-size-37xl);
  display: inline-block;
  text-align: center;
  width: 1722px;
  height: 72px;
}
.span {
  color: var(--color-darkslategray);
}
.div5 {
  position: absolute;
  top: 365px;
  left: 98px;
  font-size: 48px;
  display: inline-block;
  width: 842px;
  height: 213px;
  color: var(--color-deepskyblue);
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-smi);
  background-color: var(--color-deepskyblue);
  width: 880px;
  height: 340px;
}
.div7 {
  position: absolute;
  top: 78.29px;
  left: 89.05px;
  font-size: var(--font-size-45xl);
  letter-spacing: -0.06em;
  font-weight: 500;
  font-family: var(--font-asket-extended);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 701.9px;
  height: 161.05px;
}
.button1,
.child1 {
  top: 0;
  width: 880px;
  height: 340px;
}
.button1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  left: 0;
}
.child1 {
  left: 9.24px;
  border-radius: var(--br-smi);
  background-color: var(--color-darkorchid);
}
.button2,
.child1,
.div8 {
  position: absolute;
}
.div8 {
  top: 77.17px;
  left: 0;
  font-size: var(--font-size-37xl);
  letter-spacing: -0.06em;
  font-weight: 500;
  font-family: var(--font-asket-extended);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 880px;
  height: 205.79px;
}
.button2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 488px;
  left: 831px;
  width: 889.24px;
  height: 340px;
}
.div9 {
  top: 88.36px;
  left: 71.24px;
  font-size: var(--font-size-45xl);
  letter-spacing: -0.06em;
  line-height: 74px;
  font-weight: 500;
  font-family: var(--font-asket-extended);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 736.48px;
  height: 163.29px;
}
.button3,
.div6,
.div9 {
  position: absolute;
}
.button3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 975px;
  left: 0;
  width: 880px;
  height: 340px;
}
.div6 {
  top: 860px;
  left: 100px;
  width: 1720.24px;
  height: 1315px;
}
.bg-parent {
  position: relative;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 2400px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray);
  font-family: var(--font-asket-extended);
}
