body {
  margin: 0%;
}
.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

.main-container {
  position: relative;
  width: 1920px;
  height: 800px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.rectangle {
  position: absolute;
  width: 1597px;
  height: 998px;
  top: -87.999px;
  left: -38px;
  background: #ffffff;
  z-index: 1;
}
.rectangle-1 {
  position: relative;
  width: 956px;
  height: 623px;
  margin: 222.999px 0 0 520px;
  font-size: 0px;
  background: #3f3f3f;
  z-index: 9;
  overflow: visible auto;
  border-radius: 13px;
}
.theory {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 840px;
  height: 99px;
  margin: 55px 0 0 58px;
  font-family: Asket Extended, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 64px;
  font-weight: 700;
  line-height: 99px;
  text-align: center;
  white-space: nowrap;
  z-index: 10;
}
.rectangle-2 {
  position: relative;
  width: 626px;
  height: 88px;
  margin: 29px 0 0 165px;
  background: #b964ff;
  z-index: 11;
  border-radius: 13px;
}
.data-protection {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 626px;
  height: 55px;
  top: 16px;
  left: 0;
  font-family: Asket Extended, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  line-height: 55px;
  text-align: center;
  white-space: nowrap;
  z-index: 14;
}
.rectangle-3 {
  position: relative;
  width: 626px;
  height: 88px;
  margin: 40px 0 0 165px;
  background: #b964ff;
  z-index: 12;
  border-radius: 13px;
}
.fraud-types {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 626px;
  height: 56px;
  top: 16px;
  left: 0;
  font-family: Asket Extended, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  line-height: 55.728px;
  text-align: center;
  white-space: nowrap;
  z-index: 15;
}
.rectangle-4 {
  position: relative;
  width: 626px;
  height: 88px;
  margin: 41px 0 0 165px;
  background: #b964ff;
  z-index: 13;
  border-radius: 13px;
}
.need-help {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 626px;
  height: 56px;
  top: 16px;
  left: 0;
  font-family: Asket Extended, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  line-height: 55.728px;
  text-align: center;
  white-space: nowrap;
  z-index: 16;
}
.rectangle-5 {
  position: absolute;
  width: 1920px;
  height: 93px;
  left: 0;
  background: #ffc800;
  z-index: 2;
}
.rectangle-6 {
  position: absolute;
  width: 315px;
  height: 33px;
  top: 30px;
  left: 1505px;
  background: #ffffff;
  z-index: 7;
  border-radius: 13px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.louze-email {
  position: absolute;
  height: 26px;
  top: 1px;
  width: 300px;
  left: 9px;
  font-family: Asket Extended, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #3f3f3f;
  font-size: 26px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  white-space: nowrap;
  z-index: 8;
}
.school-safety {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 38px;
  top: 33px;
  left: 98px;
  font-family: Asket Extended, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #3f3f3f;
  font-size: 24px;
  font-weight: 500;
  line-height: 36.288px;
  text-align: left;
  white-space: nowrap;
  z-index: 3;
}
.theory-7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 23px;
  top: 33px;
  left: 914px;
  font-family: Asket Extended, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #3f3f3f;
  font-size: 24px;
  font-weight: 500;
  line-height: 23px;
  text-align: left;
  white-space: nowrap;
  z-index: 5;
}
