{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Курсы</title>
    <link rel="stylesheet" href="{% static 'courses/css/main_cors.css' %}" />
  </head>
  <body>
    <div class="main-container">
      <div class="frame">
        <div class="rectangle-1"></div>
        <div class="lichnyi-kabinet"><span class="kurs">КУРС</span></div>
        
        <div class="pochta">
          <a href="{% url 'profile' %}">
          <span class="louze-gmail-com">{{user.username}}</span>
          <div class="rectangle-2"></div>
          </a>
        </div>
        <span class="school-safety">ШКОЛА БЕЗОПАСНОСТИ</span>
        <div class="rectangle-3"></div>
        <div class="rectangle-4"></div>
        <span class="theory-5">Теория</span
        ><span class="test-game">Тест-игра</span>
        <a href="{% url 'personal_data' %}">
        <div class="rectangle-6"></div>
        <span class="span-privacy-data">1. Защита личных данных</span
        </a>
        ><span class="span-test-certificate"
          >пройди тест и получи сертификат!</span
        >
        <a href="{% url 'mosheniki_main' %}">
        <div class="rectangle-7"></div>
        <span class="span-fraud-types">2. Виды мошенничества</span>
        </a>
        <div class="group">
          <a href="{% url 'game1' %}">
          <span class="start">Начать</span>
          <div class="rectangle-8"></div>
          </a>
        </div>
        <a href="{% url 'helpa' %}">
        <div class="rectangle-9"></div>
        <span class="need-help">Нужна помощь?</span>
        </a>
      </div>
    </div>
  </body>
</html>