{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Если стали жервой мошенников</title>
    <link rel="stylesheet" href="{% static 'courses/css/helpa.css' %}" />
  </head>

  <body>
    <div class="div">
      <div class="bg-parent">
        <div class="bg">
          <div class="bg-child"></div>
        </div>
        <div class="div1">
          <div class="child"></div>
          <div class="item"></div>
        </div>
        <a href="{% url 'home' %}">
        <div class="div2">ШКОЛА БЕЗОПАСНОСТИ</div>
        <div class="div3">ШКОЛА БЕЗОПАСНОСТИ</div>
        </a>
        <style>a{color:inherit; text-decoration: none;}</style>
        <div class="div4">
          <div class="div5">ТЕОРИЯ</div>
        </div>
        <div class="div6">
          <a href="{% url 'profile' %}">
          <div class="inner"></div>
          <div class="louze324gmailcom">{{user.username}}</div>
          </a>
        </div>
        <b class="b"
          >Если вас обманули в интернете, следуйте следующим шагам:</b
        >
        <div class="div7">
          <b>
            <span>1. Сохраните все доказательства:</span>
          </b>
          <span class="span">
            <b> </b>
            <span
              >сделайте снимок экрана всех важных страниц, переписку,
              электронные письма или любую другую информацию, которая может быть
              полезной для дальнейшего расследования.</span
            >
          </span>
        </div>
        <div class="div8">
          <p class="p">
            <b class="b1">2. Отключите связь: </b>
            <span
              >если дело касается мошенничества, перестаньте взаимодействовать с
              мошенником и не отправляйте больше информации.</span
            >
          </p>
          <p class="p">
            Может потребоваться обрезать контакт или заблокировать мошенника.
          </p>
        </div>
        <div class="div9">
          <p class="p">
            <b class="b1">3. Сообщите об инциденте: </b>
            <span
              >сообщите о произошедшем социальным сетям, платформе или сайту, на
              котором произошло мошенничество.</span
            >
          </p>
          <p class="p">
            Нередко у таких организаций есть механизмы обратной связи и
            возможности сообщить о нарушениях или мошенничестве.
          </p>
        </div>
        <div class="div10">
          <p class="p">
            <b class="b1">4. Обратитесь к правоохранительным органам: </b>
            <span
              >если мошенничество имеет серьезные последствия или вовлекает
              большую сумму денег, рекомендуется сообщить в полицию или другие
              компетентные органы правопорядка.</span
            >
          </p>
          <p class="p">
            Они смогут провести расследование и предпринять меры для защиты
            ваших интересов.
          </p>
        </div>
        <div class="div11">
          <p class="p">
            <b class="b1">5. Измените пароли: </b>
            <span
              >если мошеннику удалось получить доступ к вашей учетной записи,
              смените пароли для всех своих онлайн-аккаунтов.</span
            >
          </p>
          <p class="p">
            Используйте крепкие пароли и не повторяйте их на разных платформах.
          </p>
        </div>
        <div class="div12">
          <p class="p">
            <b
              >Важно помнить, что обман в интернете может случиться с каждым.</b
            >
          </p>
          <p class="p9">
            Будьте бдительны, следуйте мерам предосторожности и регулярно
            обновляйте свои знания о интернет-безопасности, чтобы уменьшить риск
            попадания в подобные ситуации.
          </p>
        </div>
        <div class="div13">
          <p class="p10">
            <b>2. Не публикуйте много личной информации:</b>
          </p>
          <p class="p">
            будьте осторожны при размещении информации в социальных медиа.
          </p>
          <p class="p">
            Ограничьте доступ к своим персональным данным и убедитесь, что
            только надежные люди видят информацию о вас.
          </p>
        </div>
        <div class="div14">
          <p class="p10">
            <b>3. Будьте осторожны со смартфонами и ноутбуками:</b>
          </p>
          <p class="p">
            следите за своими устройствами и не оставляйте их без присмотра.
          </p>
          <p class="p">
            Если устройство утеряно или украдено, сразу свяжитесь с
            соответствующими службами, чтобы заблокировать доступ к вашим личным
            данным.
          </p>
        </div>
        <div class="div15">
          <p class="p10">
            <b>4. Проверяйте безопасность ваших аккаунтов:</b>
          </p>
          <p class="p">
            регулярно проверяйте свои аккаунты на предмет подозрительной
            активности, незнакомых устройств или необычных операций.
          </p>
          <p class="p">
            Если вы замечаете что-то подозрительное, немедленно принимайте меры
            по защите своих данных.
          </p>
        </div>
        <div class="div16">
          <p class="p">
            <b>5. Удаляйте ненужные данные:</b>
          </p>
          <p class="p9">
            регулярно удаляйте ненужные файлы, письма и данные для
            предотвращения их потенциального доступа злоумышленниками.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>