{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>О пароле</title>
    <link rel="stylesheet" href="{% static 'courses/css/password.css' %}" />
  </head>
<body>
    <div class="div">
      <div class="div1">
        <div class="bg-parent">
          <div class="bg">
            <div class="bg-child"></div>
          </div>
          <div class="div2">
            <div class="child"></div>
            <div class="item"></div>
          </div>
          <div class="info">
            <div class="div3">ШКОЛА БЕЗОПАСНОСТИ</div>
            <div class="div4">ШКОЛА БЕЗОПАСНОСТИ</div>
            <div class="div5">
              <div class="div6">ТЕОРИЯ</div>
            </div>
            <button class="button">
                <a href="{% url 'profile' %}">
              <div class="inner"></div>
              <div class="louze324gmailcom">{{user.username}}</div>
                </a>
            </button>
          </div>
          <img class="icon" alt="" src="{% static 'courses/img/password_pc.png' %}" />

          <div class="div7">
            <span class="span">Пароль</span>
            <span class="span1">
              - ключ к вашим аккаунтам, к вашим данным. Поэтому к его созданию
              нужно относиться серьезно.</span
            >
          </div>
          <b class="b">Как придумать надежный пароль?</b>
          <b class="b1">Пароль</b>
          <div class="div8">
            <div class="rectangle-div"></div>
            <div class="div9">
              <div class="div10">1. Используйте длинные пароли:</div>
              <div class="div11">
                Чем длиннее пароль, тем сложнее его взломать.  рекомендуется
                создавать пароли длиной не менее 12 символов.
              </div>
            </div>
          </div>
          <div class="div12">
            <div class="child1"></div>
            <div class="div13">
              <div class="div14">3. Избегайте очевидности:</div>
              <div class="password">
                Не используйте простые или предсказуемые пароли, такие как
                "123456" или "password". Стройте пароли на основе неочевидных
                фраз или комбинаций символов.
              </div>
            </div>
          </div>
          <div class="div15">
            <div class="div16">2. Придумайте сложный набор символов</div>
            <div class="div17">
              <p class="p">от 12 букв, с использованием заглавных букв,</p>
              <p class="p">строчных букв, цифр, специальных символов.</p>
            </div>
          </div>
          <div class="div18">
            <div class="div19">4. Не повторяйте пароли</div>
            <div class="div20">
              Для каждой учетной записи создавайте уникальный пароль, чтобы,
              если один из них станет жертвой взлома, другие аккаунты все равно
              останутся надежными.
            </div>
          </div>
        </div>
        <img class="icon1" alt="" src="{% static 'courses/img/pasword_women.png' %}" />
      </div>
    </div>
  </body>
</html>