{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Теория</title>
    <link rel="stylesheet" href="{% static 'courses/css/theory.css' %}" />
  </head>
  <body>
    <div class="main-container">
      <div class="rectangle">
        <div class="rectangle-1">
          <span class="theory">Теория</span>
          <a href="{% url 'personal_data' %}">
          <div class="rectangle-2">
            <span class="data-protection">1. Защита личных данных</span>
          </a>
          </div>
          <a href="{% url 'mosheniki_main' %}">
          <div class="rectangle-3">
            <span class="fraud-types">2. Виды мошенничества</span>
          </a>
          </div>
          <a href="{% url 'helpa' %}">
          <div class="rectangle-4">
            <span class="need-help">Нужна помощь?</span>
          </a>
          </div>
        </div>
      </div>
      <div class="rectangle-5">
        <a href="{% url 'profile' %}">
        <div class="rectangle-6">
          <span class="louze-email">{{user.username}}</span>
        </a>
        </div>
        <span class="school-safety">ШКОЛА БЕЗОПАСНОСТИ</span
        ><span class="theory-7">ТЕОРИЯ</span>
      </div>
    </div>
  </body>
</html>
