.main-container {
    overflow: hidden;
  }
  
  .main-container,
  .main-container * {
    box-sizing: border-box;
  }
  
  .main-container {
    position: relative;
    width: 1920px;
    height: 1080px;
    margin: 0 auto;
  }
  .frame {
    position: absolute;
    width: 1920px;
    height: 1080px;
    top: 0;
    left: 0;
    background: #ffffff;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
  .group {
    position: absolute;
    width: 600px;
    height: 978px;
    top: 51px;
    left: 660px;
    font-size: 0px;
    z-index: 2;
    border-radius: 13px;
  }
  .out-of-7 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 95px;
    height: 35px;
    margin: 15px 0 0 253px;
    font-family: Asket Extended, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #ffffff;
    font-size: 24px;
    font-weight: 300;
    line-height: 34.752px;
    text-align: center;
    white-space: nowrap;
    z-index: 4;
  }
  .safety-score {
    position: relative;
    width: 404px;
    height: 36px;
    margin: 0 0 0 98px;
    font-family: Asket Extended, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
    text-overflow: initial;
    white-space: nowrap;
    z-index: 5;
  }
  .safety-glasses {
    position: relative;
    font-family: Asket Extended, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    line-height: 36.288px;
    text-align: center;
  }
  .empty {
    position: relative;
    font-family: Asket Extended, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #b964ff;
    font-size: 24px;
    font-weight: 500;
    line-height: 36.288px;
    text-align: center;
  }
  .saved-safety-glasses {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 600px;
    height: 30px;
    margin: 0 0 0 0;
    font-family: Asket Extended, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #21e74c;
    font-size: 20px;
    font-weight: 300;
    line-height: 28.96px;
    text-align: center;
    white-space: nowrap;
    z-index: 9;
  }
  .no-provision {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 600px;
    height: 48px;
    margin: 19px 0 0 0;
    font-family: Asket Extended, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #ffffff;
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    text-align: center;
    white-space: nowrap;
    z-index: 8;
  }
  .saved-glasses-passport {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 546px;
    height: 184px;
    margin: 271px 0 0 27px;
    font-family: Asket Extended, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #ffffff;
    font-size: 36px;
    font-weight: 400;
    line-height: 53.136px;
    text-align: center;
    z-index: 6;
  }
  .personal-data-warning {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 512px;
    height: 105px;
    margin: 49px 0 0 47px;
    font-family: Asket Extended, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #ffffff;
    font-size: 24px;
    font-weight: 300;
    line-height: 34.752px;
    text-align: center;
    z-index: 7;
  }
  .rectangle {
    position: absolute;
    width: 600px;
    height: 978px;
    top: 0;
    left: 0;
    background: #3f3f3f;
    z-index: 3;
    border-radius: 13px;
  }
  .rectangle-1 {
    position: absolute;
    width: 505px;
    height: 138px;
    top: 291px;
    left: 708px;
    font-size: 0px;
    background: #b964ff;
    z-index: 14;
    border-radius: 13px;
  }
  .freemoney-ru {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 207px;
    height: 35px;
    margin: 26px 0 0 149px;
    font-family: Asket Extended, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #3f3f3f;
    font-size: 24px;
    font-weight: 300;
    line-height: 34.752px;
    text-align: center;
    white-space: nowrap;
    z-index: 16;
  }
  .content-unavailable {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 297px;
    height: 46px;
    margin: 8px 0 0 104px;
    font-family: Asket Extended, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #3f3f3f;
    font-size: 16px;
    font-weight: 300;
    line-height: 23.168px;
    text-align: center;
    z-index: 17;
  }
  .rectangle-2 {
    position: absolute;
    width: 506px;
    height: 80px;
    top: 909px;
    left: 707px;
    background: #b964ff;
    z-index: 10;
    border-radius: 13px;
  }
  .next-question {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 506px;
    height: 54px;
    top: 922px;
    left: 707px;
    font-family: Asket Extended, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #ffffff;
    font-size: 36px;
    font-weight: 500;
    line-height: 54px;
    text-align: center;
    white-space: nowrap;
    z-index: 11;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  