body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-asket-extended: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
    /* font sizes */
    --font-size-6xl: 25px;
    --font-size-5xl: 24px;
  
    /* Colors */
    --color-white: #fff;
    --color-darkslategray: #3f3f3f;
  
    /* Border radiuses */
    --br-smi: 13px;
  }
  .bg,
.bg-child,
.group-child {
  position: absolute;
  width: 1597px;
  height: 998px;
}
.bg-child {
  top: 0;
  left: 0;
  background-color: var(--color-white);
}
.bg,
.group-child {
  top: -88px;
  left: -38px;
}
.group-child {
  top: 0;
  left: 0;
  border-radius: var(--br-smi);
  background-color: var(--color-darkslategray);
  width: 600px;
  height: 978px;
}
.div1 {
  position: absolute;
  top: 15px;
  left: 252px;
  font-weight: 300;
}
.span {
  color: #b964ff;
}

.div2 span{
  font-size: 40px;
}

.div2,
.div3,
.div4 {
  position: absolute;
  top: 50px;
  left: 98px;
  font-weight: 500;
  display: inline-block;
  width: 404px;
}
.div3,
.div4 {
  top: 535px;
  left: 123px;
  font-size: 40px;
  width: 355px;
}
.div4 {
  top: 108px;
  left: 27px;
  font-size: 20px;
  width: 546px;
  height: 71px;
}
.rectangle-parent {
  position: absolute;
  top: 51px;
  left: 660px;
  width: 600px;
  height: 978px;
}
.child,
.div5 {
  position: absolute;
  left: 0;
  width: 506px;
}
.child {
  top: 0;
  border-radius: var(--br-smi);
  background-color: #e95035;
  height: 64.31px;
}
.div5 {
  top: 13px;
  font-size: var(--font-size-6xl);
  font-weight: 500;
  font-family: var(--font-asket-extended);
  color: var(--color-darkslategray);
  text-align: center;
  display: inline-block;
  height: 38px;
}
.button1,
.item {
  left: 708px;
  height: 64.31px;
  top: 801px;
}
.button1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;

  width: 506px;
}
.item {
  top: 905px;
  border-radius: var(--br-smi);
  background-color: #20a6df;
}
.button,
.div6,
.item {
  position: absolute;
  width: 506px;
}
.div6 {
  top: 920px;
  left: 708px;
  font-size: var(--font-size-6xl);
  font-weight: 500;
  font-family: var(--font-asket-extended);
  color: var(--color-darkslategray);
  text-align: center;
  display: inline-block;
  height: 38px;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 801px;
  left: 708px;
  height: 168.31px;
}
.inner {
  top: 0;
  left: 0;
  border-radius: var(--br-smi);
  background-color: #ffc800;
  height: 64.29px;
}
.button2,
.div7,
.inner {
  position: absolute;
  width: 506px;
}
.div7 {
  top: 13px;
  left: 0;
  font-size: 26px;
  font-weight: 500;
  font-family: var(--font-asket-extended);
  color: var(--color-darkslategray);
  text-align: center;
  display: inline-block;
  height: 38px;
}
.button2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 697px;
  left: 708px;
  height: 64.29px;
}
.bg-parent {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1920px;
  height: 1080px;
  overflow: hidden;
}
.icon {
  position: absolute;
  top: 258px;
  left: 815px;
  border-radius: var(--br-smi);
  width: 286px;
  height: 286px;
  object-fit: cover;
}
.div {
  position: relative;
  width: 100%;
  height: 1080px;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-asket-extended);
}
