{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Правила поеведения в веб</title>
    <link rel="stylesheet" href="{% static 'courses/css/personal_data/rule_web.css' %}" />
  </head>
  <body>
    <div class="div">
      <div class="bg-parent">
        <div class="bg">
          <div class="bg-child"></div>
        </div>
        <div class="div1">
          <div class="child"></div>
          <div class="item"></div>
        </div>
        <div class="div2">ШКОЛА БЕЗОПАСНОСТИ</div>
        <div class="div3">ШКОЛА БЕЗОПАСНОСТИ</div>
        <div class="div4">
          <div class="div5">Теория</div>
        </div>
        <div class="div6">
          <a href="{% url 'profile' %}">
          <div class="inner"></div>
          <div class="louze324gmailcom">{{user.username}}</div>
          </a>
        </div>
        <div class="div7">
          <p class="p">
            <b>
              <span>1. Используйте сложные пароли:</span>
              <span class="span"> </span>
            </b>
          </p>
          <p class="p1">
            <span>
              <a>
              <span class="span1">
                создавайте пароли, содержащие не менее 12 символов,
              </span>
              <a?
              <span>
                включая заглавные и строчные буквы, цифры и специальные
                символы.</span
              >
            </span>
          </p>
          <p class="p1">
            <span>
              <span
                >Избегайте использования одного и того же пароля для разных
                приложений или сервисов.</span
              >
            </span>
          </p>
        </div>
        <div class="div8">
          <p class="p">
            <b>2. Обновляйте программное обеспечение: </b>
          </p>
          <p class="p1">
            <span>
              <span class="b">регулярно</span>
              <b class="b"> </b>
              <span
                >обновляйте операционную систему, веб-браузеры, плагины и другие
                программы, связанные с работой в веб-приложениях.</span
              >
            </span>
          </p>
        </div>
        <div class="div9">
          <p class="p">
            <b>3. Будьте осторожны с прикрепленными файлами:</b>
          </p>
          <p class="p1">
            <span>
              <span
                >не открывайте прикрепленные файлы или ссылки, полученные от
                незнакомых или подозрительных источников.</span
              >
            </span>
          </p>
          <p class="p1">
            <span>
              <span>Они могут содержать вирусы или вредоносные программы</span>
              <b class="b">.</b>
            </span>
          </p>
        </div>
        <div class="div10">
          <p class="p">
            <b>
              <span class="span3"
                >4. Внимательно изучайте политику конфиденциальности:</span
              >
            </b>
            <span>
              <b> </b>
            </span>
          </p>
          <p class="p">
            <span>
              <span
                >перед использованием веб-приложения или сервиса, ознакомьтесь с
                его политикой конфиденциальности и убедитесь, что собираемая
                вами информация будет обрабатываться безопасно и не будет
                передаваться третьим лицам без вашего согласия.</span
              >
            </span>
          </p>
        </div>
        <div class="div11">
          <p class="p">
            <b>5. Не давайте личную информацию недоверенным источникам</b>
          </p>
          <p class="p1">
            никогда не предоставляйте личные данные, такие как номера кредитных
            карт или паспортные данные, непроверенным и ненадежным
            веб-приложениям или сервисам.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>