{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Если стали жервой мошенников</title>
    <link rel="stylesheet" href="{% static 'courses/css/personal_data/rule_social_network.css' %}" />
  </head>
<body>
    <div class="div">
      <div class="bg-parent">
        <div class="bg">
          <div class="bg-child"></div>
        </div>
        <div class="div1">
          <div class="div2"></div>
          <div class="div3"></div>
        </div>
        <div class="div4">ШКОЛА БЕЗОПАСНОСТИ</div>
        <div class="div5">ШКОЛА БЕЗОПАСНОСТИ</div>
        <div class="div6">
          <div class="div7">Теория</div>
        </div>
        <button class="button">
            <a href="{% url 'profile' %}">
          <div class="child"></div>
          <div class="louze324gmailcom">{{user.username}}</div>\
            </a>
        </button>
        <div class="div8">
          <p class="p">
            <b>1. Не разглашайте личную информацию:</b>
          </p>
          <p class="p1">
            Избегайте размещения своего полного имени, домашнего адреса, номера
            телефона, паспортных данных и другой чувствительной информации в
            своих профилях на социальных сетях.
          </p>
        </div>
        <div class="div9">
          <p class="p2">
            <b>2. Установите строгие настройки конфиденциальности:</b>
          </p>
          <p class="p">
            Ограничьте доступ к своему профилю только для друзей и знакомых.
          </p>
          <p class="p">
            Убедитесь, что ваши публикации и личная информация видны только для
            ограниченного круга лиц.
          </p>
        </div>
        <div class="div10">
          <p class="p2">
            <b>3. Будьте осторожны с принятием друзей:</b>
          </p>
          <p class="p">
            Перед добавлением новых "друзей" в социальных сетях проверьте их
            аккаунты и убедитесь, что они реальные лица.
          </p>
          <p class="p">
            Будьте осмотрительными при приеме запросов от незнакомцев.
          </p>
        </div>
        <div class="div11">
          <p class="p2">
            <b>4. Будьте осторожны с публикацией фотографий:</b>
          </p>
          <p class="p">
            Не публикуйте фотографии, которые могут поставить вас или других
            людей под опасностью.
          </p>
          <p class="p">
            Учтите, что размещенные изображения могут быть загружены и
            использованы третьими лицами.
          </p>
        </div>
        <div class="div12">
          <p class="p2">
            <b>5. Берегите себя от фишинга и мошенничества:</b>
          </p>
          <p class="p">
            Будьте осторожны с приложениями, ссылками и сообщениями от
            незнакомых людей.
          </p>
          <p class="p">
            Никогда не предоставляйте свои личные данные, банковские счета или
            пароли через социальные сети.
          </p>
          <p class="p">
            Сообщайте о подозрительной активности или потенциальных
            мошеннических схемах администраторам социальных сетей.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>