{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>О Личных данных</title>
    <link rel="stylesheet" href="{% static 'courses/css/personal_data/rule_data.css' %}" />
  </head>
  <body>
    <div class="div">
      <div class="bg-parent">
        <div class="bg">
          <div class="bg-child"></div>
        </div>
        <div class="div1">
          <div class="child"></div>
          <div class="item"></div>
        </div>
        <a href="{% url 'home' %}">
        <div class="div2">ШКОЛА БЕЗОПАСНОСТИ</div>
        <div class="div3">ШКОЛА БЕЗОПАСНОСТИ</div>
        </a>
        <style>a{color:inherit; text-decoration: none;}</style>
        <div class="div4">
          <div class="div5">ТЕОРИЯ</div>
        </div>
        <button class="button">
          <a href="{% url 'profile' %}">
          <div class="inner"></div>
          <div class="louze324gmailcom">{{user.username}}</div>
          </a>
        </button>
        <div class="div6">
          <p class="p">
            <b>1. Храните личные данные в надежных местах:</b>
          </p>
          <p class="p1">
            используйте защищенные файлы или парольные менеджеры, чтобы хранить
            свои личные данные, пароли и кредитные карты.
          </p>
          <p class="p1">
            Это обеспечит защиту от несанкционированного доступа.
          </p>
        </div>
        <div class="div7">
          <p class="p">
            <b>2. Не публикуйте много личной информации:</b>
          </p>
          <p class="p1">
            будьте осторожны при размещении информации в социальных медиа.
          </p>
          <p class="p1">
            Ограничьте доступ к своим персональным данным и убедитесь, что
            только надежные люди видят информацию о вас.
          </p>
        </div>
        <div class="div8">
          <p class="p">
            <b>3. Будьте осторожны со смартфонами и ноутбуками:</b>
          </p>
          <p class="p1">
            следите за своими устройствами и не оставляйте их без присмотра.
          </p>
          <p class="p1">
            Если устройство утеряно или украдено, сразу свяжитесь с
            соответствующими службами, чтобы заблокировать доступ к вашим личным
            данным.
          </p>
        </div>
        <div class="div9">
          <p class="p">
            <b>4. Проверяйте безопасность ваших аккаунтов:</b>
          </p>
          <p class="p1">
            регулярно проверяйте свои аккаунты на предмет подозрительной
            активности, незнакомых устройств или необычных операций.
          </p>
          <p class="p1">
            Если вы замечаете что-то подозрительное, немедленно принимайте меры
            по защите своих данных.
          </p>
        </div>
        <div class="div10">
          <p class="p1">
            <b>5. Удаляйте ненужные данные:</b>
          </p>
          <p class="p13">
            регулярно удаляйте ненужные файлы, письма и данные для
            предотвращения их потенциального доступа злоумышленниками.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>