{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Игра</title>
    <link rel="stylesheet" href="{% static 'game/css/game10_1.css' %}" />
  </head>
  <body>
    <div class="div">
      <div class="div1">
        <div class="group-parent">
          <div class="rectangle-parent">
            <div class="group-child"></div>
            <div class="div2">10 из 10</div>
            <div class="div3">
              <span>СИТУАЦИЯ: </span>
            </div>
            <div class="div4">
              Сайт оказался финансовой пирамидой, не удивительно
            </div>
            <div class="div5">
              Будьте осторожны, всегда проверяйте информацию на ее правдивость
            </div>
            <div class="div6">Узнаю больше о сайте</div>
          </div>
          <a href="{% url 'game_home' %}">
          <div class="frame-child"></div>
          <div class="div8">Подвести итоги</div>
          </a>
          <div class="group-wrapper">
            <div class="rectangle-group">
              <div class="group-item"></div>
              <div class="www">-www.непирамида.рф</div>
              <div class="div9">осторожно, финансовая пирамида!</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>