{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Игра</title>
    <link rel="stylesheet" href="{% static 'game/css/game3_2.css' %}" />
  </head>
  <body>
    <div class="main-container">
      <div class="rectangle">
        <span class="span">3 из 10</span>
        <div class="safety-goggles">
          <span class="safety-goggles-1">ОЧКИ БЕЗОПАСНОСТИ: </span
          ><span class="dom-span-90">90</span>
        </div>
        <span class="dom-span-not-lost-security-points"
          >Вы не потеряли очки безопасности</span
        ><span class="dom-span-not-sharing-anywhere"
          >Не буду никуда выкладывать</span
        >
        <div class="dom-div"></div>
        <img class="icon" alt="" src="{% static 'game/img/quest3.png' %}" />
        <span class="dom-span-happiness-loves-silence"
          >Правильно, счастье любит тишину!</span
        ><span class="photo-info"
          >Не выкладывайте фотографии где присутствует информация о Вас, вашем
          месте жительства в открытый доступ, эти данные могут использовать
          мошенники</span
        >
        <div class="rectangle-2">
          <span class="next-question">Следующий вопрос</span>
        </div>
      </div>
    </div>
  </body>
</html>