{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Игра</title>
    <link rel="stylesheet" href="{% static 'game/css/game10.css' %}" />
  </head>
  <body>
    <div class="div">
      <div class="bg-parent">
        <div class="bg">
          <div class="bg-child"></div>
        </div>
        <div class="rectangle-parent">
          <div class="group-child"></div>
          <div class="div1">10 из 10</div>
          <div class="div2">
            <span>ОЧКИ БЕЗОПАСНОСТИ: </span>
            <span class="span">100</span>
          </div>
          <div class="div3">Ваши действия?</div>
          <div class="div4">
            Вам пришло сообщение с предложением легко заработать денег
          </div>
        </div>
        <div class="group-parent">
          <div class="rectangle-group">
            <div class="group-item"></div>
            <div class="div5">-привет! легко заработать хочешь?</div>
            <div class="www">-www.непирамида.рф</div>
            <div class="div6">-вносишь сумму и ждешь</div>
          </div>
          <div class="div7">
            <div class="child"></div>
            <div class="div8">Александр</div>
            <div class="div9">?</div>
          </div>
        </div>
        <button class="button">
          <div class="item"></div>
          <div class="div10">Внесу деньги, хочу заработать!</div>
        </button>
        <button class="button1">
          <div class="inner"></div>
          <div class="div10">Легких денег не бывает!</div>
        </button>
        <button class="button2">
          <div class="rectangle-div"></div>
          <div class="div12">Узнаю больше о сайте</div>
        </button>
      </div>
    </div>
  </body>
</html>