{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Игра</title>
    <link rel="stylesheet" href="{% static 'game/css/game10_2.css' %}" />
  </head>
  <body>
    <div class="div">
      <div class="div1">
        <div class="group-parent">
          <div class="rectangle-parent">
            <div class="group-child"></div>
            <div class="div2">10 из 10</div>
            <div class="div3">
              <span>ОЧКИ БЕЗОПАСНОСТИ: </span>
              <span class="span">90</span>
            </div>
            <div class="div4">Упс..Это была финансовая пирамида</div>
            <div class="div5">
              <p class="p">
                Которая быстро закрылась, как только набрала нужное количество
                вкладчиков.
              </p>
              <p class="p">Запомните: легких денег не бывает!</p>
            </div>
            <div class="div6">Внесу деньги, хочу заработать!</div>
            <div class="div7">-10 очков безопасности</div>
          </div>
          <div class="frame-child"></div>
          <div class="div8">Подвести итоги</div>
          <div class="group-wrapper">
            <div class="rectangle-group">
              <div class="group-item"></div>
              <div class="www">www.непирамида.рф</div>
              <div class="div9">содержимое больше недоступно...</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>