{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Игра</title>
    <link rel="stylesheet" href="{% static 'game/css/game1_1.css' %}" />
  </head>
  <body>
    <div class="div">
      <div class="div1">
        <div class="group-parent">
          <div class="rectangle-parent">
            <div class="group-child"></div>
            <div class="div2">1 из 10</div>
            <div class="div3">
              <span>ОЧКИ БЕЗОПАСНОСТИ: </span>
              <span class="span">90</span>
            </div>
            <button class="button">
              <div class="child"></div>
              <div class="div4">Помогу чем смогу, для друга не жалко</div>
            </button>
            <div class="div5">
              Вашего друга взломали и Ваши деньги ушли мошеннику.
            </div>
            <div class="div6">
              <p class="p">
                <span>
                  <span class="span1">В следующий</span>
                  <span class="span2"> </span>
                </span>
                <span class="span3">
                  <span>раз будьте осторожны!</span>
                </span>
              </p>
              <p class="p1">
                <span class="span3">
                  <span
                    >Уточняйте информацию лично, либо игнорируйте такие
                    сообщения</span
                  >
                </span>
              </p>
            </div>
            <div class="div7">Надо помочь другу!</div>
            <div class="div8">-10 очков безопасности</div>
            <div class="group-container">
              <div class="rectangle-group">
                <div class="group-item"></div>
                <div class="div9">- ахахах, счастливо оставаться!</div>
              </div>
              <div class="div10">
                <div class="item"></div>
                <div class="div11">Мошенник</div>
                <div class="div12">!</div>
              </div>
            </div>
          </div>
          <a href="{% url 'game2' %}">
          <div class="frame-child"></div>
          <div class="div13">Следующий вопрос</div>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>