{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Игра</title>
    <link rel="stylesheet" href="{% static 'game/css/game5_3.css' %}" />
  </head>
  <body>
    <div class="main-container">
      <div class="rectangle">
        <span class="span">5 из 10</span>
        <div class="safety-glasses">
          <span class="safety-glasses-1">СИТУАЦИЯ: </span
          >
        </div>
        <span class="dom-span-adware">Рекламное ПО</span>
        <div class="dom-div"></div>
        <img class="icon" alt="" src="{% static 'game/img/quest5.png' %}" />
        <span class="dom-span-incorrect-virus"
          >Неверно, это относится к вирусам</span
        ><span class="harmful-program"
          >Это очень вредные программы, которые засоряют Ваш компьютер рекламой
          и тормозят его работу</span
        >
        <a href="{% url 'game6' %}">
        <div class="rectangle-2">
          <span class="next-question">Следующий вопрос</span>
        </a>
      </div>
    </div>
  </body>
</html>