{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Игра</title>
    <link rel="stylesheet" href="{% static 'game/css/game3_1.css' %}" />
  </head>
  <body>
    <div class="main-container">
      <div class="rectangle">
        <span class="span">3 из 10</span>
        <div class="safety-goggles">
          <span class="safety-goggles-1">ОЧКИ БЕЗОПАСНОСТИ: </span
          ><span class="span-2">90</span>
        </div>
        <span class="span-3">-10 очков безопасности</span
        ><span class="span-4">Выложу в соцсеть!</span>
        <div class="div"></div>
        <img class="icon" alt="" src="{% static 'game/img/quest3.png' %}" />
        <span class="span-5"
          >Ваша фотография набрала много лайков, но на этом плюсы
          кончились</span
        ><span class="photo-info"
          >Не выкладывайте фотографии где присутствует информация о Вас, вашем
          месте жительства в открытый доступ, эти данные могут использовать
          мошенники</span
        >
        <div class="rectangle-6">
          <span class="next-question">Следующий вопрос</span>
        </div>
      </div>
    </div>
  </body>
</html>