{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Игра</title>
    <link rel="stylesheet" href="{% static 'game/css/game2_2.css' %}" />
  </head>
  <body>
    <div class="main-container">
      <div class="frame">
        <div class="group">
          <div class="section-2">
            <span class="pomogu-chto-smogu"
              >Помогу чем смогу, для друга не жалко</span
            >
            <div class="rectangle"></div>
          </div>
          <div class="rectangle-1"></div>
          <span class="span-2-10">2 из 10</span>
          <div class="safety-glasses">
            <span class="safety-glasses-2">ОЧКИ БЕЗОПАСНОСТИ: </span
            ><span class="text-4">100</span>
          </div>
          <span class="safety-score-0">-0 очков безопасности</span
          ><span class="ignore-message">Проигнорирую сообщение</span>
          <div class="group-3">
            <div class="name-surname">
              <div class="ellipse"></div>
              <span class="exclamation-mark">!</span
              ><span class="scammer">Мошенник</span>
            </div>
            <div class="group-4">
              <span class="span-message"
                >- эй! у меня все твои данные, ответь!</span
              ><span class="span-please-answer"
                >- ну ответь, пожалуйста :(</span
              >
              <div class="rectangle-5"></div>
            </div>
          </div>
          <span class="span-scam-alert"
            >Вы подумали, что мошенник блефует и были правы!</span
          ><span class="span-ignore-or-report"
            >Игнорируйте такие сообщения, либо обращайтесь в правоохранительные
            органы</span
          >
        </div>
        <div class="rectangle-6"></div>
        <span class="next-question">Следующий вопрос</span>
      </div>
    </div>
  </body>
</html>