{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Игра</title>
    <link rel="stylesheet" href="{% static 'game/css/game10_3.css' %}" />
  </head>
  <body>
    <div class="frame-parent">
      <div class="group-parent">
        <div class="rectangle-parent">
          <div class="group-child"></div>
          <div class="div">10 из 10</div>
          <div class="div1">
            <span>ОЧКИ БЕЗОПАСНОСТИ: </span>
            <span class="span">90</span>
          </div>
          <div class="div2">
            Такой настрой спас бы многих вкладчиков финансовых пирамид от потери
            средств
          </div>
          <div class="div3">Легких денег не бывает!</div>
          <div class="div4">Вы не потеряли очки безопасности</div>
        </div>
        <a href="{% url 'game_home' %}">
        <div class="frame-child"></div>
        <div class="div5">Подвести итоги</div>
        </a>
        <div class="group-wrapper">
          <div class="rectangle-group">
            <div class="group-item"></div>
            <div class="www">www.непирамида.рф</div>
            <div class="div6">содержимое больше недоступно...</div>
          </div>
        </div>
        <div class="div7">Продолжайте в таком же духе!</div>
      </div>
    </div>
  </body>
</html>