{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Игра</title>
    <link rel="stylesheet" href="{% static 'game/css/game2_3.css' %}" />
  </head>
  <body>
    <div class="main-container">
      <div class="rectangle">
        <span class="span">2 из 10</span>
        <div class="safety-goggles">
          <span class="safety-goggles-1">СИТУАЦИЯ: </span
          >
        </div>
        <span class="dom-span-3">Проигнорирую сообщение</span>
        <div class="dom-div">
          <div class="dom-div-4">
            <div class="ellipse"></div>
            <span class="exclamation-mark">!</span
            ><span class="scammer">Мошенник</span
            ><span class="hey-answer-me"
              >- эй! у меня все твои данные, ответь!</span
            >
          </div>
          <span class="oh-no-i-will-transfer-everything"
            >о нет, не надо! я все переведу</span
          >
        </div>
        <span class="not-best-option"
          >Вы решили подыграть мошеннику, не самый лучший вариант....</span
        ><span class="ignore-or-report"
          >Игнорируйте такие сообщения, либо обращайтесь в правоохранительные
          органы</span
        >
        <a href="{% url 'game3' %}">
        <div class="rectangle-5">
          <span class="next-question">Следующий вопрос</span>
        </a>
        </div>
      </div>
      <div class="rectangle-6">
        <span class="text-d">Помогу чем смогу, для друга не жалко</span>
      </div>
    </div>
  </body>
</html>