{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Игра</title>
    <link rel="stylesheet" href="{% static 'game/css/game1_2.css' %}" />
  </head>
  <body>
    <div class="div">
      <div class="div1">
        <div class="group-parent">
          <div class="rectangle-parent">
            <div class="group-child"></div>
            <div class="div2">1 из 10</div>
            <div class="div3">
              <span>СИТУАЦИЯ:</span>
            </div>
            <div class="div4">
              Вы позвонили другу, оказалось что он ничего Вам не писал, его
              взломали
            </div>
            <div class="div5">
              <p class="p">Будьте осторожны!</p>
              <p class="p">&nbsp;</p>
              <p class="p1">
                Уточняйте информацию лично, либо игнорируйте такие сообщения
              </p>
            </div>
            <div class="div6">Тут что-то не так, позвоню ему</div>
            <div class="group-container">
              <div class="rectangle-group">
                <div class="group-item"></div>
                <div class="div8">- ау? так ты займешь денег?</div>
              </div>
              <div class="div9">
                <div class="child"></div>
                <div class="div10">Мошенник</div>
                <div class="div11">!</div>
              </div>
            </div>
          </div>
          <a href="{% url 'game2' %}">
          <div class="frame-child"></div>
          <div class="div12">Следующий вопрос</div>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
