{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Игра</title>
    <link rel="stylesheet" href="{% static 'game/css/main.css' %}" />
  </head>
  <body>
    <div class="frame-parent">
      <div class="group-parent">
        <div class="rectangle-parent">
          <div class="group-child"></div>
          <div class="div">Поздравляем!</div>
          <div class="div1">Вы прошли обучение в “Школе Безопасности”</div>
        </div>
        <div class="rectangle-group">
          <a href="{% url 'home' %}">
          <div class="group-item"></div>
          <div class="div4">На главную</div>
          </a>
        </div>
        <div class="rectangle-container">
          <a href="{% url 'profile' %}?access_button=true">
          <div class="group-item"></div>
          <div class="div4">Получить сертификат</div>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>