<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'regestration/css/regestration.css' %}">
</head>
<body>
  <div>
      {% if error_message %}
        <p>{{ error_message }}</p>
      {% endif %} 
      <form method="post">
          <h2>Регестрация</h2>
          {% csrf_token %}
          <input type="text" name="username" placeholder="Логин" required>
          <input type="email" name="email" placeholder="Почта" required>
          <input type="text" name="first_name" placeholder="Имя" required>
          <input type="text" name="last_name" placeholder="Фамилия" required>
          <input type="password" name="password" placeholder="Пароль" required>
          <input type="password" name="confirm_password" placeholder="Подтвердите пароль" required>
          <button type="submit">Зарегистрироваться</button>
          <div class="form-footer">
            <b>Уже Зарегистрированы?</b>
            <a href="{% url 'enterens' %}">Войти</a>
      </form>
  </div>
</body>
</html>


{% comment %} Html верстка, обьяснения не требует  {% endcomment %}