body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-asket-extended: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
    /* font sizes */
    --font-size-17xl: 36px;
    --font-size-5xl: 24px;
  
    /* Colors */
    --color-white: #fff;
    --color-darkslategray: #3f3f3f;
    --color-darkorchid: #b964ff;
  }
  

  .bg,
  .bg-child {
    position: absolute;
    width: 1597px;
    height: 998px;
  }
  .bg-child {
    top: 0;
    left: 0;
    background-color: var(--color-white);
  }
  .bg {
    top: -88px;
    left: -38px;
  }
  .div2 {
    top: 0;
    background-color: var(--color-darkorchid);
    height: 93px;
  }
  .div1,
  .div2,
  .div3,
  .div4 {
    position: absolute;
    left: 0;
    width: 1920px;
  }
  .div3 {
    top: 2306px;
    background-color: var(--color-darkorchid);
    height: 93px;
  }
  .div1,
  .div4 {
    top: 1px;
    height: 2399px;
  }
  .div4 {
    top: 2342px;
    left: 97px;
    font-size: var(--font-size-5xl);
    font-weight: 500;
    width: 366px;
    height: 24px;
  }
  .div4,
  .div5,
  .div7 {
    display: inline-block;
  }
  .div5 {
    position: absolute;
    top: 34px;
    left: 98px;
    font-size: var(--font-size-5xl);
    font-weight: 500;
    width: 366px;
    height: 38px;
  }
  .div7 {
    top: 0;
    left: 0;
    font-weight: 300;
    width: 101px;
    height: 23px;
  }
  .child,
  .div6,
  .div7 {
    position: absolute;
  }
  .div6 {
    top: 30px;
    left: 909px;
    width: 101px;
    height: 23px;
    font-size: var(--font-size-5xl);
  }
  .child {
    top: 0;
    left: 0;
    border-radius: 13px;
    background-color: var(--color-white);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 315px;
    height: 33px;
  }
  .louze324gmailcom {
    position: absolute;
    top: 0;
    left: 9px;
    font-size: 26px;
    font-family: var(--font-asket-extended);
    color: var(--color-darkslategray);
    text-align: left;
    display: inline-block;
    width: 302px;
    height: 26px;
  }
  .button {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 31px;
    left: 1505px;
    width: 315px;
    height: 33px;
  }
  .p,
  .p1 {
    margin: 0;
  }
  .p1 {
    color: var(--color-darkslategray);
  }
  .div8,
  .p2 {
    color: var(--color-darkorchid);
  }
  .div8 {
    position: absolute;
    top: 216px;
    left: 98px;
    display: inline-block;
    width: 1722px;
    height: 317px;
  }
  .p2 {
    margin: 0;
  }
  .div10,
  .div11,
  .div12,
  .div9 {
    position: absolute;
    top: 562px;
    left: 100px;
    display: inline-block;
    width: 1720px;
    height: 268px;
  }
  .div10,
  .div11,
  .div12 {
    top: 969px;
    height: 212px;
  }
  .div11,
  .div12 {
    top: 1320px;
    height: 252px;
  }
  .div12 {
    top: 1711px;
    height: 429px;
  }
  .bg-parent {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-white);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 2400px;
    overflow: hidden;
  }
  .div {
    position: relative;
    width: 100%;
    height: 2400px;
    text-align: left;
    font-size: var(--font-size-17xl);
    color: var(--color-darkslategray);
    font-family: var(--font-asket-extended);
  }
  